skip_commits:
  message: /Updated (readme|docs).*|!skipci/

image: Visual Studio 2017

clone_folder: C:\projects\<%= $PLASTER_PARAM_ModuleName %>

environment:
  NugetApiKey:
    secure: *

cache:
  - _build_dependencies_ -> *.Depend.psd1

build: off

test_script:
  - ps: . .\build.ps1